@import "tailwindcss";


html, 
body {
  scroll-behavior: smooth;
  scroll-margin-top: 500px; 
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
  background-color: white;
  color: #545454;
  height: 2000px;
}
a{
  margin: 0;
  cursor: pointer;
}


/* .lg-toolbar {
  z-index: 9999 !important;
  position: fixed !important;
  top: 0;
  right: 0;
}

.lg-close {
  display: block !important;
  color: white !important;
  font-size: 2rem !important;
}

.lg-container {
  z-index: 9999 !important;
} */



